body {
    font-family: 'Roboto', sans-serif;
}

.entrada {
    width: 100px;
    outline: none;
    text-align: center;
}

.box-ev-boton {
    display: none;
    position: fixed;
    transform: translate(-17px, 2px);
    cursor: pointer;
    font-size: 16px;
}

.ev-entrada:hover+.box-ev-boton {
    display: inline-block;
}

.box-ev-boton:hover {
    display: inline-block;
    color: rgb(104, 105, 102);
}

.box-ev {
    display: none;
    background-color: white;
    width: 200px;
    height: 90px;
    border: 1px solid black;
    position: fixed;
    transform: translate(120px, -120px);
}

.box-ev input {
    font-size: 12px;
    width: 80px;
    text-align: center;
    outline: none;
}

.box-ev div {
    padding: 0px 10px;
}

.box-ev i {
    float: right;
    margin: 2px;
    cursor: pointer;
}

.box-ev button {
    font-size: 12px;
    width: 100%;
    border: 1px solid black;
}

.box-ev button:hover {
    filter: brightness(0.95);
}

.card-inf {
    position: fixed;
    width: 250px;
    height: 100px;
    transform: translate(170px, -130px);
    border: 1px solid rgb(5, 5, 5);
    background-color: white;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
   
}

td:hover .card-inf {
    display: flex;
}